/* TEXT/FONTS */

body {
    font-family: Georgia, Times, serif;
    font-size: 100%;
    line-height: 1.5;
}
.content > p:first-child {
    font-size: 150%;
}

/* COLORS */

::selection {
    background-color: darkgreen;
    color: white;
}
html {
    background-color: #fefefe;
}
a, a:link, a:visited, a:hover, a:active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    background-color: darkgreen;
    color: white;
}

/* LAYOUT */
* {
    box-sizing: border-box;
}
a {
    display: inline-block;
}
img {
    border: none;
    width: 100%;
}
ul.nav {
    margin: 0;
    padding: 0;
}
ul.nav li {
    display: inline-block;
}
.footer p {
    margin: 3em auto;
}

/* NO-JS SLIDESHOWS */

.no-js .slideshow ul {
    margin: 0;
    padding: 0;
}
.no-js .slideshow .slide {
    border: 1px solid silver;
    margin-bottom: 2em;
    padding: 0 1em;
}
.no-js .slideshow .slide img {
    display: block;
}

/* JS SLIDESHOWS */

.js .slideshow {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
.js .slideshow ul {
    -webkit-transform: translateZ(0px);
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.js .slideshow .slide {
    border: 1px solid silver;
    display: inline-block;
    margin: 0 1em 2em 0;
    padding: 1em 1em 0 1em;
    width: 20em;
}
.js .slideshow .slide img {
    display: block;
}
.js .slideshow .slide p {
    white-space: normal;
}
@media screen and (min-width: 50em) {
    .js .slideshow.no-slideshowify {
        background-color: lightgray;
        border: 1px solid silver;
        float: right;
        margin-left: 1em;
        max-width: 24em;
        padding:1em;
    }
    .js .slideshow.no-slideshowify .slide {
        background-color: white;
        margin-bottom: 0;
    }
}

/* SLIDESHOWIFY */

.js .slideshowify {
    position: relative;
    overflow-x: hidden;
}
.js .slideshowify .x-of-y {
    background-color: black;
    color: white;
    font-family: sans-serif;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.js .slideshowify .controls {
    background-color: black;
    bottom: 0;
    font-family: sans-serif;
    height: 2.5em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.js .slideshowify .controls a {
    color: white;
    display: inline-block;
    padding: .5em;
    position: absolute;
}
.js .slideshowify .controls .next {
    right: 0;
}
.js .slideshowify .controls .prev {
    left: 0;
}
@media screen and (min-width: 50em) {
    .js .slideshow.slideshowify {
        float: right;
        margin-left: 1em;
        max-width: 24em;
    }
}

